body {
  background-color: rgb(178, 189, 202);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.photo {
  border: 1px solid black;
  border-radius: 50%;
}

#title,
#footer-title,
.subtitle,
.post-title {
  color: rgb(79, 122, 136);
}

#title {
  font-size: 40px;
  text-transform: uppercase;
}

a {
  text-decoration: line-through;
  color: #3f9da7;
}

.post-title {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  margin-bottom: 15px;
}

.post {
  background-color: rgb(227, 226, 226);
  padding: 15px;
  border-bottom: 3px dotted black;
  border-radius: 5px;
  margin-bottom: 15px;
}

.post p {
  margin: 0;
  margin-bottom: 15px;
  text-transform: capitalize;
  text-align: justify;
}

.post img {
  margin-bottom: 15px;
  width: 100%;
}

.contacts-list {
  list-style-type: none;
  padding-left: 15px;
}

.contacts-list li a {
  text-decoration: none;
}

.contacts-list li a:hover {
  color: #1f4a4f;
}
