body {
  background-color: rgb(178, 189, 202);
}

.photo {
  border: 1px solid black;
  border-radius: 50%;
}

#title,
#footer-title,
.subtitle,
.post-title {
  color: rgb(79, 122, 136);
}

.post-title {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  margin-bottom: 15px;
}

.post {
  background-color: rgb(227, 226, 226);
  padding: 15px;
  border-bottom: 3px dotted black;
  border-radius: 5px;
  margin-bottom: 15px;
}

.post p {
  margin: 0;
  margin-bottom: 15px;
}

.post img {
  margin-bottom: 15px;
}
